RPC_URL=https://rpc.mainnet.chain.robinhood.com
LAUNCHPAD=0xd57759fc069ff9f8901042e3df8f13708c0d9e6f
SPLITTER_FACTORY=
# Wallet that pays gas + the opening buy. Never commit.
DEPLOYER_KEY=
FEE_PIPS=20000
CREATOR_SHARE_PIPS=150000
FIRST_BUY_USD=2
